*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body{

    height: 100vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{

    width: 40%;
    background-color: white;
    height: 70vh;
}

.imgdiv{


    position: relative;
    width: 50%;
    height: 100%;
    background-color: aqua;




}


.imgdiv img{

    width: 130%;
    height: 100%;
    position: absolute;
    left: 10;
    bottom: 0;


    

    
}